.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 4rem 0;
}

.container > div {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.container > div strong {
  line-height: 1.4;
}

.container > div span {
  line-height: 1.4;
}
